<section>
  <div class="geral">
    <img class="imagem" src="assets/logo2.png" alt="logo da ford">
    <div class="container-formulario">
        <div class="container-titulo">
          <p class="titulo">Boas-vindas</p>
        </div>
        <div class="input-group mb-3 teste">
          <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-envelope"></i>
          </span>
          <input class="form-control" id="InputEmail" #emailinput="ngModel" [(ngModel)]="email" type="text" placeholder="Insira seu e-mail" aria-label="Usuário" aria-describedby="basic-addon1" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
          <div class="invalid-feedback" *ngIf="emailinput.errors?.['pattern'] && emailinput.touched">
              Por Favor, digite um email valido.
          </div>
        </div>
        <div class="input-group mb-3 teste">
          <span class="input-group-text" id="basic-addon1">
              <i class="bi bi-lock"></i>
          </span>
          <input [(ngModel)]="senha" class="form-control" id="SenhaInput" #senhainput="ngModel" type="password" placeholder="Insira sua senha" aria-label="Usuário" aria-describedby="basic-addon1">
          <div class="invalid-feedback" *ngIf="senha.length < 6 && senhainput.touched">
            Por favor, Digite uma senha valida.
          </div>
        </div>
        <div class="container-termos">
            <p class="paragrafo-termo">Não possui uma conta? <a href="">Cadastre-se</a></p>
        </div>
        <button class="btn btn-primary botao"><b>Entrar</b></button>
        <div *ngIf="erro" class="text-danger">{{ "aaaaaa" }}</div>
    </div>
  </div>
  <div class="container-img">
    <img class="imagem2" src="assets/lanchonete.png" alt="">
  </div>
</section>